*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  width: 100%;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header{
  display: flex;
  align-items: center;
  margin-bottom: 25px;
  justify-content: space-between;
  width: 50%;
}

.paper{
  display: flex;
  align-items: center;
  width: 80%;
}
.buttonForm{
  margin-right: 0;
}

.ul{
  width: 50%;
}

li{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.liText{
  width: 50%;
}